@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}


.btn button {
    padding: 12px 16px;
    background-color: #30B868;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    font-weight: 600;
}

.btn button:hover {
    background-color: #4bc77f;
    border-radius: 4px;
    color: #6d6c6c;
    font-size: 16px;
    font-weight: 600;
}

header nav {
    padding: 16px 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .content ul {
    display: flex;
    gap: 32px;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

nav .content ul a {
    text-decoration: none;
    color: #000000;
    font-size: 16px;
    font-weight: 500;
    line-height: 152%;
}

#container {
    background: url(./assets/hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 674px;
    width: 1600px;
    padding: 115.5px 120px 1px;
}

#container .content {
    max-width: 1360px;
    width: 85%;
    margin: 0 auto;
}





/* pera khawa design start  */

.content .des {
    background-color: white;
    display: flex;
    gap: 6px;
    padding: 8px 12px;
    border-radius: 20px;
    max-width: 229px;
    margin: 0 auto;
    margin-bottom: 16px;
}


.content .des .circle {
    position: relative;
    width: 16px;
    height: 16px;
}

.des .circle .dr {
    position: absolute;
    border-radius: 50%;
    background: #ff6b6b;
}

.des .circle .d1 {
    width: 16px;
    height: 16px;
    opacity: 0.3;
}

.des .circle .d2 {
    width: 12px;
    height: 12px;
    top: 2px;
    left: 2px;
    opacity: 0.6;
}

.des .circle .d3 {
    width: 6px;
    height: 6px;
    top: 5px;
    left: 5px;
    opacity: 1;
}


.content .des h5 a {
    text-decoration: none;
    color: #469165;
    font-size: 16px;
    font-weight: 500;
}


/* pera khawa design end  */


.top h1 {
    font-size: 72px;
    font-weight: bold;
    line-height: 84px;
    color: white;
    text-align: center;
    margin-bottom: 16px;
}

.top h1 span {
    color: #30B868;
}

.top p {
    font-size: 18px;
    line-height: 24px;
    color: white;
    text-align: center;
    margin-bottom: 32px;
}

.bot .btn {
    display: flex;
    gap: 16px;
    align-items: center;
    justify-content: center;
}

.bot .btn button {
    display: inline-flex;
    align-items: center;
    gap: 10px;
}

.container {
    padding: 68px 120px;
}

.container .top-content,
.bot-content {
    max-width: 1360px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.container .top-content {
    margin-bottom: 44px;
}

.container .top-content h1 {
    font-size: 48px;
    font-weight: bold;
    color: #001931;
    margin: 0 0 16px;
}

.container .top-content p {
    font-size: 15px;
    line-height: 20px;
    color: #627382;
}

.bot-content {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.bot-content .card {
    height: 300px;
    width: 322px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
    box-shadow: 0 0 8px #00000025;
}

.bot-content .card .image {
    height: 60px;
    width: 60px;
    background-color: #F95555;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bot-content .card h3 {
    font-size: 24px;
    font-weight: 600;
    color: #001931;
}

.bot-content .card p {
    font-size: 16px;
    line-height: 20px;
    color: #627382;
    max-width: 274px;
}