@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}


.btn button {
    padding: 12px 16px;
    background-color: #30B868;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    font-weight: 600;
}

.btn .unique-btn {
    background-color: transparent;
    border: 2px solid white;
}

.btn .unique-btn:hover {
    background-color: transparent;
    backdrop-filter: blur(10px);
}

.btn button:hover {
    background-color: #4bc77f;
    border-radius: 4px;
    color: #6d6c6c;
    font-size: 16px;
    font-weight: 600;
}

header nav {
    padding: 16px 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .content ul {
    display: flex;
    gap: 32px;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

nav .content ul a {
    text-decoration: none;
    color: #000000;
    font-size: 16px;
    font-weight: 500;
    line-height: 152%;
}

#container {
    background: url(./assets/hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 674px;
    width: 100%;
    position: relative;
}

#container .content {
    max-width: 1360px;
    width: 85%;
    position: absolute;
    top: 115px;
    left: 7.5%;
}





/* pera khawa design start  */

.content .des {
    background-color: white;
    display: flex;
    align-items: center;
    gap: 6px;
    padding: 8px 12px;
    border-radius: 20px;
    max-width: 229px;
    margin: 0 auto;
    margin-bottom: 16px;
}


.content .des .circle {
    position: relative;
    width: 16px;
    height: 16px;
}

.des .circle .dr {
    position: absolute;
    border-radius: 50%;
    background: #ff6b6b;
}

.des .circle .d1 {
    width: 16px;
    height: 16px;
    opacity: 0.3;
}

.des .circle .d2 {
    width: 12px;
    height: 12px;
    top: 2px;
    left: 2px;
    opacity: 0.6;
}

.des .circle .d3 {
    width: 6px;
    height: 6px;
    top: 5px;
    left: 5px;
    opacity: 1;
}


.content .des h5 a {
    text-decoration: none;
    color: #469165;
    font-size: 16px;
    font-weight: 500;
}


/* pera khawa design end  */


.top h1 {
    font-size: 72px;
    font-weight: bold;
    line-height: 84px;
    color: white;
    text-align: center;
    margin-bottom: 16px;
}

.top h1 span {
    color: #30B868;
}

.top p {
    font-size: 18px;
    line-height: 24px;
    color: white;
    text-align: center;
    margin-bottom: 32px;
}

.bot .btn {
    display: flex;
    gap: 16px;
    align-items: center;
    justify-content: center;
}

.bot .btn button {
    display: inline-flex;
    align-items: center;
    gap: 10px;
}

.container {
    padding: 68px 120px;
}

.container .top-content,
.bot-content {
    max-width: 1360px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.container .top-content {
    margin-bottom: 44px;
}

.container .top-content h1 {
    font-size: 48px;
    font-weight: bold;
    color: #001931;
    margin: 0 0 16px;
}

.container .top-content p {
    font-size: 15px;
    line-height: 20px;
    color: #627382;
}

.bot-content {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.bot-content .card {
    height: 300px;
    width: 322px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
    box-shadow: 0 0 8px #00000025;
}

.bot-content .card .image {
    height: 60px;
    width: 60px;
    background-color: #F95555;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bot-content .card h3 {
    font-size: 24px;
    font-weight: 600;
    color: #001931;
}

.bot-content .card p {
    font-size: 16px;
    line-height: 20px;
    color: #627382;
    max-width: 274px;
}

.brain-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

.brain-content .image {
    width: 600px;
    height: 100%;
}

.brain-container .top-content {
    text-align: left;
    margin-bottom: 40px;
}

.top-content h5 {
    font-size: 16px;
    font-weight: 500;
    color: #30B868;
    margin-bottom: 16px;
}

.top-content h2 {
    font-size: 48px;
    font-weight: bold;
    color: #001931;
    margin-bottom: 16px;
}

.top-content p {
    line-height: 20px;
    color: #627382;
}

.brain-container .bot-content {
    display: block;
}

.brain-container .bot-content ul {
    list-style: none;
    text-align: left;
    display: flex;
    flex-direction: column;
}

.brain-container .bot-content li {
    display: inline-flex;
    gap: 6px;
    font-weight: 500;
    line-height: 20px;
    color: #001931;
    margin-bottom: 16px;
}

.ready-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F7F6F2;
    width: 100%;
    max-width: 1360px;
    margin: 0 auto;
}

.ready-content h1 {
    font-size: 40px;
    font-weight: bold;
    color: #001931;
    margin: 80px auto 16px;
}

.ready-content p {
    font-size: 16px;
    line-height: 24px;
    color: #627382;
    margin-bottom: 24px;
    text-align: center;
}

.ready-content btn {
    margin-bottom: 16px;
}

.ready-content button {
    display: inline-flex;
    gap: 10px;
}

.ready-content .para {
    margin: 16px auto 80px;
}

footer {
    margin-top: 120px;
    background-color: #001931;
    padding: 120px 120px 30px;
}

.footer-content {
    width: 100%;
    max-width: 1360;
    margin: 0 auto;
}

.footer-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 80px;
}

.footer-social {
    text-align: left;
}

.footer-social h4 {
    font-size: 20px;
    line-height: 28px;
    font-weight: 500;
    color: white;
    margin-bottom: 16px;
}

.social-img {
    display: flex;
    gap: 16px;
    align-items: center;
}

.social-img .logo a {
    height: 20px;
    width: 20px;
    background-color: #ffffff;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-bot hr {
    background-color: #E5E7EB;
    border: none;
    height: 2px;
    margin-bottom: 30px;
}

.footer-bot p {
    line-height: 24px;
    color: #FAFAFA;
    text-align: center;
}